:root{
  font-family: "Cairo" ,Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

*{
  list-style: none;
}

body{
  background-color: white;
  color: black;
  margin: 0 auto;
  padding: 0;
}

#main{
  margin-top: 3rem;
}

#navbar{
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;

height: 4rem;
width: 100vw;
position: fixed; 
box-shadow: .1rem 0rem 1rem lightgray;

}

.navlinks{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  gap: 1rem;
}

header{
  padding: 0px 0px;
  width: 100%;
  height: 60px;
  align-items: center;
}

.red{
  color: red;
}

.yellow{
  color: gold;
}

#newgame{
  cursor: pointer;
}

.navlinks li a:hover{
  color: mediumblue;
}

.hide{
  display: none;
}

.show{
  display: inline-block;
  cursor: pointer;
}

.visible{
  visibility: visible;
}

.notvisible{
  visibility: hidden;
}

#board{
  height: 60vmin;
  width: 70vmin;

  background: linear-gradient(-225deg,#0000 23%,rgba(255, 255, 255, 0.6) 50%,#0000 66%)mediumblue;
  border: .5em solid navy;

  background-size:300% 100%;

  margin: 0 auto;
  
  display: grid;
  grid-template-columns: repeat(7, minmax(8%, 1fr));
  grid-template-rows: repeat(6, minmax(8%, 1fr));
  column-gap: .5rem;
  row-gap: .5rem;
  justify-items: center;
  align-items: center;
  padding: .5em;
}

 .space{
   height: 90%;
   width: 95%;

   background-color: white;
   border-radius: 50%;
   border: .3em solid navy;

  /* z-index: 4; */
 }

 #animation-div{
  height: 100%;
  width: 100%;
  border: solid rgb(0,0,0,0);
  border-radius: 50%;

  visibility: hidden;

  pointer-events: none;

  z-index: 0;
}

#board-top{
height: 8vmin;
width: 70vmin;


margin: 0 auto;

display: grid;
grid-template-columns: repeat(7, minmax(8%, 1fr));
column-gap: .5rem;
row-gap: .5rem;
justify-items: center;
align-items: center;
padding: .3em;


}

 .top-space{

  background-color: white;
  border-radius: 50%;
 
 }

 .red-piece{

  background: linear-gradient(-225deg,#0000 23%,rgba(255,255,255,0.3) 50%,#0000 66%)red;
  background-size:150% 100%;
}

 .yellow-piece{

  background: linear-gradient(-225deg,#0000 23%,rgba(255,255,255,0.3) 50%,#0000 66%)gold;
  background-size:150% 100%; 
 }

 .winning-piece{
  border: .3em solid white;
  box-shadow: .3rem .3rem .7rem lightblue, lightblue 0rem 0.7rem 1.4rem -0.8rem inset, lightblue 0rem 0.3rem 0.8rem -1.2rem inset;
 }

.top-yellow{
  height: 95%;
  width: 88%;

  background: linear-gradient(-225deg,#0000 23%,rgba(255,255,255,0.3) 30%,#0000 66%)gold;
  border: solid rgb(255,205,0,1);
  border-radius: 50%;
  box-shadow: .5rem .5rem 1rem darkgray;
  z-index: -1;
}

.top-yellow-denied{
  height: 90%;
  width: 82%;

  background: linear-gradient(-225deg,#0000 23%,rgba(255,255,255,0.3) 30%,#0000 66%)rgba(200, 186, 108, 0.439);
  border: solid rgba(189, 160, 43, 0.3);
  border-radius: 50%;
  box-shadow: .5rem .5rem 1rem darkgray;
  z-index: -1;
}

.top-red{
  height: 95%;
  width: 88%;

  background: linear-gradient(-225deg,#0000 23%,rgba(255,255,255,0.3) 30%,#0000 66%)red;

  border: solid rgb(255,0,0,1);
  border-radius: 50%;
  box-shadow: .5rem .5rem 1rem darkgray;

  z-index: -1;
}

.top-red-denied{
  height: 90%;
  width: 82%;

  background: linear-gradient(-225deg,#0000 23%,rgba(255,255,255,0.3) 30%,#0000 66%)rgba(149, 84, 84, 0.335);

  border: solid rgba(189, 65, 65, 0.3);
  border-radius: 50%;
  box-shadow: .5rem .5rem 1rem darkgray;

  z-index: -1;
}

.dynamicshadow{
  animation: shadow 45s infinite;
  animation-timing-function: ease;
  background-size:300% 100%;
}

.staticshadow{
  box-shadow: darkblue 0.7rem 0.4rem 1.4rem -0.8rem inset, darkblue 0rem 0.3rem 0.8rem -1.2rem inset
}

.bob{
  position: relative;
  animation-name: bob;
  animation-duration: .7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes bob {
  0%   { top: -5px;}
  50%  {top: -20%;}
  100%  {top: -5px;}
}

.dynamicshine{
  background-size:300% 100%;
  animation: shineshadow 45s infinite;
  animation-timing-function: ease;
}

@keyframes shineshadow {
  0% {background-position: right; box-shadow: 2rem 1rem 2rem black;}
  50% {background-position: left; box-shadow: -2rem 1rem 1rem black;}
  100% {background-position: right; box-shadow: 2rem 1rem 2rem black;}
}

.staticshine{
  box-shadow: 1rem 1rem 2rem dimgray;
}

.drop{
  position: relative;
  animation-name: drop;
  animation-duration: .04s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}

@keyframes drop {
  0%   { top: -60vmin; visibility: visible;}
  100%  {top: 0px; visibility: hidden}
}

.dynamicshadow{
  animation: shadow 45s infinite;
  animation-timing-function: ease;
  background-size:300% 100%;
}

@keyframes shadow {
  0% {background-position: right; box-shadow: darkblue 0.3rem 0.3rem 1.4rem -.5rem inset, darkblue 0rem 0.3rem 0.4rem -1.2rem inset}
  50% {background-position: left; box-shadow: darkblue -0.3rem 0.3rem 1.4rem -.5rem inset, darkblue 0rem 0.3rem 0.4rem -1.2rem inset}
  100% {background-position: right; box-shadow: darkblue 0.3rem 0.33rem 1.4rem -.5rem inset, darkblue 0rem 0.3rem 0.4rem -1.2rem inset}
}

.switch {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: mediumblue;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1.5rem);
  -ms-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}

.slider.round {
  border-radius: 1rem;
}

.slider.round:before {
  border-radius: 1rem;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 5; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.textBox{
  border: 1px;
  margin-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media screen and (max-width: 915px) {
  #main{
    margin-top: 1rem;
  }
 
  #board{
  height: 45vmin;
  width: 53vmin;
 }

 #board-top{
  height: 5vmin;
  width: 53vmin;
 }

header{
  padding: 0px 0px;
  width: 100%;
  height: 60px;
  align-items: center;
}

#navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  height: 3rem;
  width: 100vw;
  position: fixed; 
  box-shadow: .1rem 0rem 1rem lightgray;
  }

  @keyframes shadow {
    0% {background-position: right; box-shadow: darkblue 0.7rem 0.4rem 0.4rem -0.8rem inset;}
    50% {background-position: left; box-shadow: darkblue -0.7rem 0.4rem 0.4rem -0.8rem inset;}
    100% {background-position: right; box-shadow: darkblue 0.7rem 0.4rem 0.4rem -0.8rem inset;}
  }

  #title{
    display: none;
  }

  .navlinks{
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .staticshadow{
    box-shadow: darkblue 0.7rem 0.4rem 0.4rem -0.8rem inset;
  }
}

@media screen and (max-width: 501px) {
  #main{
    margin-top: 1rem;
  }
  
  header{
    padding: 0px 0px;
    width: 100%;
    height: 60px;
    align-items: center;
  }

  #title{
    display: none;
  }

  .switch, #dl{
    display: none;
  }

  .navlinks{
    font-size: 0.8rem;
  }

  .staticshadow{
    box-shadow: darkblue 0.7rem 0.4rem 0.4rem -0.8rem inset;
  }
}

@media screen and (max-width: 360px) {
  #newnames{
    display: none;
  }
}


/*
@media screen and (max-width: 915px) { 
  #main{
    margin-top: 1rem; 
  }
 
  #board{
  height: 45vmin;
  width: 53vmin;
 }

 #board-top{
  height: 5vmin;
  width: 53vmin;
 }

header{
  padding: 0px 0px;
  width: 100%;
  height: 60px;
  position: sticky;
}

#navbar{
  display:inline-block;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:flex-start;

  
  height: 60px;
  width: 100vw;
  position: absolute; 


  z-index: 4;
  }

  .modal{
    width: 100vw; 
  }

  #title{
    padding-left: 20px;
    display: none;
  }

  #navlinks{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:flex-start;

    background-color: white;
    

    z-index: 4;
  }

  .navlinks{
    background-color: white;
    opacity: 0.98;
    width: 100vw;
  }

  .hamburger{
    position: fixed;
    margin-left: 40vw;
    cursor: pointer;
  }

  #line1{
    margin-bottom: 10px;
  }
  #line3{
    margin-top: 10px;
  }

 #hamburgertoggle{
  width: 1rem;
  height: 25px;
} 

  .line{
    background-color: black;
    border-radius: 10px;
    border: none;
    height: .1rem;
    width: 1rem;
  }

  .switch, .toggle, .slider, .round{
    z-index: auto;
  }

  .hidemenu{
    display: none;
    background-color: red;
  }

  @keyframes shadow {
    0% {background-position: right; box-shadow: darkblue 0.7rem 0.4rem 0.4rem -0.8rem inset;}
    50% {background-position: left; box-shadow: darkblue -0.7rem 0.4rem 0.4rem -0.8rem inset;}
    100% {background-position: right; box-shadow: darkblue 0.7rem 0.4rem 0.4rem -0.8rem inset;}
  }

  .staticshadow{
    box-shadow: darkblue 0.7rem 0.4rem 0.4rem -0.8rem inset;
  }
} 

*/